body {
  font-size: 16px;
  background-color: white;
  font-family: 'Tahoma', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 1px solid;
}

.navbar-brand {
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
}

.navbar-brand h1 { /* Company Name */
  font-family: 'Tahoma', sans-serif, solid;
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .02;
  text-decoration: none;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
  border: 1px solid;
}

#nav-list {
  margin-top: 0px;
  background-color: gray;
  margin-bottom: 0;
}  
#nav-list a {
  color: solid;
  font-size: 115%;
  color: white;
  text-align: center;
  border: 1px black solid;
}
#nav-list a:hover {
  background: white;/*yellow: rollover color*/
  color: black;
  border: 1px solid;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle.icon-bar {
  clear: both;
  background-color: #ccffff;
  margin-top: -40px;
}
/* END HEADER */

/* TILES */
h2{
  font-size: 2.4em;
  font-weight: bold;
  text-align: center;
}
#main-content {
  width: 90%;
 
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  background-color: #ccffff;
  border: 4px solid black;
}
#menu-category {
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  color: darkblue;
  padding-bottom: 10px;
}

@media (min-width: 1200px) {
  .container {
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .container
  }
@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 {
    padding-top: 10px;
    font-size: 5vw;
  }
  #collapsable-nav a {
    font-size: 1.2em;
  }
  #collapsable-nav a span {
    font-size: 1em;
    margin-right: 5px;
  }
